@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400&display=swap%27%29%3B
);

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100vw;
  background-color: #99c5bb;
}

/* --- HEADER --- */
header {
  display: flex;
  justify-content: space-between;
  flex: 10 10 100%;
  background: #54b19d;
  position: relative;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo img {
  max-width: 40%;
  margin-right: 11px;
  margin: 17.5px;
}

@media (max-width: 768px) {
  #logo  img {
    width: 80%;
    margin: 10px;
  }
}

#logo a {
  text-decoration: none;
}

/* --- NAV --- */
nav {
  background-color: #e3ebe8;
  display: flex;
  flex: 1 1 100vw;
  justify-content: center;
}

.navegador_lista {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.navegador_lista a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: #1e1e1e;
  text-align: center;
}

.navegador_lista li {
  display: flex;
  margin-right: 20px;
  display: inline-block;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
}

.icones_navegaçao {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding-top: 3px;
  text-align: right;
  width: 20%;
}

.icones_acesso {
  width: 22px;
}

.icones_navegaçao li {
  padding: 0px 15px 0px;
  display: inline-block;
  
}

/* configuracao do nav (icones) para telas menores:  */
@media (max-width: 768px) {
  .icones_acesso {
    width: 17px;
  }

  .navegador_lista li {
    font-size: 12px;
  }
  
}

  .icones_navegaçao li {
    padding: 0px 15px 0px;
    display: inline-block;
    
  }

/* --- MAIN --- */
/*Login*/
#container {
  height: 100vh;
  width: 100%;
  background: #98cabf;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../image/possivel_fundo-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 500px;
  margin-top: 5px;
}

#login_form {
  background-color: #ffffffab;
  display: flex;
  flex-direction: column;
  padding: 40px 100px;
  border-radius: 10px;
  gap: 15px;
  box-shadow: 5px 5px 8px rgba(#fff, #fff, #fff, 0.336);
  height: fit-content;
}


#form_header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#form_header h1 {
  font-size: 30px;
  color: #54b19d;
  position: relative;
}


@media (max-width: 768px) {
  #container {
    background-size: 400px;
  }
  
  #form_header h1 {
    font-size: 24px;
  }

  #login_form {
    padding: 30px 50px ;
  }
} 

#social_media {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 30px;
}

#social_media img {
  width: 30px;
}

#social_media img:hover {
  transform: scale(1.2);
}

#inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.input-box {
  font-size: 14px;
  color: #847f7b;
}

.input-field {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  cursor: text;
  border-bottom: 1px solid #847f7b;
}

.input-field i {
  font-size: 18px;
  color: #847f7b;
}

.input-field input {
  border: none;
  background-color: transparent;
  width: 260px;
  font-size: 15px;
  padding: 0px 10px;
}

.input-field input:focus {
  outline: none;
}

#esqueci-senha {
  margin-bottom: 20px;
  margin-right: 50%;
}

#esqueci-senha a {
  text-decoration: none;
  font-size: 13px;
  color: #847f7b;
}

#esqueci-senha a:hover {
  color: #54b19d;
}

.login_button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  border: none;
  background-color: #54b19d;
  color: #fff;
  padding: 3.5px;
  font-size: 15px bold;
  border-radius: 10px;
  font-weight: bold;
}

.login_button:hover {
  transform: scale(1.05);
}
/*---------*/

/* --- FOOTER --- */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #54b19d;
  padding: 10px;
}

.rodape_principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adicionando o space-between para colocar os itens nas laterais */
}

.lado_esquerdo {
  display: flex;
  flex-direction: row;
}

.lado_direito {
  display: flex;
  flex-direction: column;
}

.rodape_direito {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.rodape_esquerdo {
  padding:10px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
} /* Adicionei o espaçamento para os lados nas letras*/

  /* configuraçao do rodapé para telas menores */
  @media (max-width: 600px) {
    .rodape_principal a {
      font-size: 12px;
  
    }
  }





