* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  flex: 10 10 100%;
  background: #54b19d;
  position: relative;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo img {
  max-width: 40%;
  margin-right: 11px;
  margin: 17.5px;
}

/* configuracao da logo no cabeçalho para telas menores:  */
@media (max-width: 768px) {
  #logo  img {
    width: 80%;
    margin: 10px;
  }
}

#logo a {
  text-decoration: none;
}

nav {
  background-color: #e3ebe8;
  display: flex;
  flex: 1 1 100vw;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navegador_lista {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.navegador_lista a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: #1e1e1e;
  text-align: center;
}

.navegador_lista li {
  display: flex;
  margin-right: 20px;
  display: inline-block;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
}


.icones_navegaçao {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding-top: 3px;
  text-align: right;
  width: 20%;
}

.icones_acesso {
  width: 22px;
}

/* configuracao do nav (icones) para telas menores:  */
@media (max-width: 768px) {
  .icones_acesso {
    width: 17px;
  }

  .navegador_lista li {
    font-size: 12px;
  }
  
}

.icones_navegaçao li {
  padding: 0px 15px 0px;
  display: inline-block;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100vw;
  background-color: #99c5bb;
  justify-content: center;
  align-items: center;
}

.mapa {
  background-color: #e3ebe8ce;
  display: flex;
  flex-direction: column;
  margin: 50px 100px;
  padding: 50px;
  border-radius: 10px;
  gap: 15px;
  box-shadow: 5px 5px 8px rgba(#fff, #979393, #666565, 0.336);
}

.mapa h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  color: #3e4140;
  text-shadow: 2px 2px 4px rgba(68, 67, 67, 0.5);
  padding-bottom: 25px;
}

.mapa-image {
  display: flex;
  justify-content: center;
  align-items: center;
}


.mapa h2 {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #3e4140;
  text-shadow: 2px 2px 4px rgba(68, 67, 67, 0.5);
  padding-top: 25px;
}

@media screen and (max-width: 1200px){
  iframe{
    width: 600px;
    height: 600px;
  }

  .mapa h1 {
    font-size: 17px;
  }

  .mapa h2 {
    font-size: 13px;
  }
}

@media screen and (max-width: 1000px){
  iframe{
    width: 300px;
    height: 300px;
  }
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #54b19d;
  padding: 10px;
}

.rodape_principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.lado_esquerdo {
  display: flex;
  flex-direction: row;
}

.lado_direito {
  display: flex;
  flex-direction: column;
}

.rodape_direito {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.rodape_esquerdo {
  padding:10px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
} 

/* configuraçao do rodapé para telas menores */
@media (max-width: 768px) {
  .rodape_principal a {
    font-size: 12px;
  }
}
