* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100vw;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  justify-content: center;
}

.background {
  background-color: #99C5BB;
}

.retanguloMaior{
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 800px;
  height: 970px;
  left: 28px;
  top: 146px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.titulo{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #847F7B;
}

.retangulo{
  box-sizing: border-box;
  width: 600px;
  height: 38.72px;
  left: calc(50% - 600px/2 + 4px);
  top: calc(50% - 38.72px/2 - 341.25px);
  background: #FFFFFF;
  border: 1px solid #847F7B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding-top: 20px;
}

.textForm{
  width: 600px;
  height: 38px;
  left: calc(50% - 600px/2 + 4px);
  top: calc(50% - 38px/2 + 291px);
  padding: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #847F7B;
}

.retanguloFinal{
  box-sizing: border-box;
  width: 600px;
  height: 120px;
  left: calc(50% - 600px/2 + 4px);
  top: calc(50% - 38.72px/2 - 341.25px);
  background: #FFFFFF;
  border: 1px solid #847F7B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.enviar{
  width: 182px;
  border: none;
  height: 32px;
  background: #54B19D;
  box-shadow: 0px 4px 4px #85B7AC;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  color:#FFFFFF;
  margin-top: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  flex: 10 10 100%;
  background: #54b19d;
  position: relative;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo img {
  max-width: 40%;
  margin-right: 11px;
  margin: 17.5px;
}

/* configuracao da logo no cabeçalho para telas menores:  */
@media (max-width: 768px) {
  #logo  img {
    width: 80%;
    margin: 10px;
  }
}


#logo a {
  text-decoration: none;
}

nav {
  background-color: #e3ebe8;
  display: flex;
  flex: 1 1 100vw;
  justify-content: center;
  margin-bottom: 40px;
}

.navegador_lista {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  
}

.navegador_lista a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: #1e1e1e;
  text-align: center;
}

.navegador_lista li {
  display: flex;
  margin-right: 20px;
  display: inline-block;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
}

.icones_navegaçao {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding-top: 3px;
  text-align: right;
  width: 20%;
  
}

.icones_acesso {
  width: 22px;
}

/* configuracao do nav (icones) para telas menores:  */
@media (max-width: 768px) {
  .icones_acesso {
    width: 17px;
  }

  .navegador_lista li {
    font-size: 12px;
  }
}

.icones_navegaçao li {
  padding: 0px 15px 0px;
  display: inline-block;
}

/* --- ASIDE --- */
aside {
  background-color: #99C5BB;
}

.retanguloMaior{
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 800px;
  height: 1000px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #847F7B;
  padding: 30px;
}

.retanguloMaior .titulo h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #847F7B;
  padding: 30px;
}

.retangulo{
  box-sizing: border-box;
  width: 600px;
  height: 38.72px;
  background: #FFFFFF;
  border: 1px solid #847F7B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding-top: 20px;
}

.textForm {
  width: 600px;
  height: 38px;
  padding-top: 25px;
  padding-bottom: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #847F7B;
}

.retanguloFinal{
  box-sizing: border-box;
  width: 600px;
  height: 120px;
  background: #FFFFFF;
  border: 1px solid #847F7B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

@media (max-width:768px) {
  .retanguloMaior{
    height: 1300px;
    width: 450px;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 30px;
  }

  .retangulo {
    width: 350px;
  }

  .textForm {
    font-size: 15px;
    width: 350px;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .retanguloFinal {
    width: 350px;
  }
}

.enviar{
  width: 182px;
  border: none;
  height: 32px;
  background: #54B19D;
  box-shadow: 0px 4px 4px #85B7AC;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
  color:#FFFFFF;
  margin-top: 20px;
}

/* --- FOOTER --- */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #54b19d;
  padding: 10px;
  margin-top: 40px;
}

.rodape_principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.lado_esquerdo {
  display: flex;
  flex-direction: row;
}

.lado_direito {
  display: flex;
  flex-direction: column;
}

.rodape_direito {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.rodape_esquerdo {
  padding:10px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
} 

/* configuraçao do rodapé para telas menores */
@media (max-width: 768px) {
  .rodape_principal a {
    font-size: 12px;
  }
}





