* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100vw;
  background-color: #99c5bb;
}

/* --- HEADER --- */
header {
  display: flex;
  justify-content: space-between;
  flex: 10 10 100%;
  background: #54b19d;
  position: relative;
}

#logo-botão{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo-botão img{
  max-width: 40%;
  margin-left: 10px;
}

#logo-botão button{
  font-family: "Atma", cursive;
  background-color: #e3ebe8;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  height: 40px;
  width: 85px;
  margin: 50px;
  margin-right: 20px;
}

#logo-botão a {
  text-decoration: none;
}

/* --- NAV --- */
nav {
  background-color: #e3ebe8;
  display: flex;
  flex: 1 1 100vw;
  justify-content: center;
}

.navegador_lista {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.navegador_lista a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: #1e1e1e;
  text-align: center;
}

.navegador_lista li {
  display: flex;
  margin-right: 20px;
  display: inline-block;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
}

.icones_navegaçao {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding-top: 3px;
  text-align: right;
  width: 20%;
}

.icones_acesso {
  width: 22px;
}

.icones_navegaçao li {
  padding: 0px 15px 0px;
  display: inline-block;
}

/* --- MAIN --- */
main {
  display: flex;
  justify-content: center;
  margin: 10px;
  flex: 1 1 100vw;
  background: #a8f1e0ce;
  align-self: center;
}

/*Carousel CSS*/
.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  overflow: hidden;
}

.carousel {
  width: 100%;
}

.carousel-inner {
  height: 100%;
  font-family: Atma;
}

.carousel-item {
  display: flex;
  text-align: center;
  align-self: center;
}

.carousel-item img {
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;
}

h2,
p {
  text-align: start;
}

/*CARD*/
.div_cards {
  display: flex;
  justify-content: center;
  background-position: center;
  flex-wrap: wrap;
}

.card {
  margin: 25px;
  align-items: center;
}

.card-body h5 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #1e1e1e;
  text-align: center;
}
.card-body a {
  text-decoration: none;
}

/* Depoimentos */
.depoimento {
  background-color: #54b19d;
  text-decoration: white;
  width: 100%;
}

.depoimento h3 {
  color: white;
  font-family: Atma;
  margin: 6px;
  margin-left: 1%;
}

.depoimento-super {
  margin: 0;
}

/* --- ASIDE --- */
aside {
  display: flex;
  justify-content: center;
  flex: 1 1 100vw;
  background: #a8f1e0;
}

/* --- FOOTER --- */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #54b19d;
  padding: 10px;
}

.rodape_principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adicionando o space-between para colocar os itens nas laterais */
}

.lado_esquerdo {
  display: flex;
  flex-direction: row;
}

.lado_direito {
  display: flex;
  flex-direction: column;
}

.rodape_direito {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.rodape_esquerdo {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
} /* Adicionei o espaçamento para os lados nas letras*/
