* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100vw;
  background-color: #99c5bb;
}

/* --- HEADER --- */
header {
  display: flex;
  justify-content: space-between;
  flex: 10 10 100%;
  background: #54b19d;
  position: relative;
}

#logo-botao {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo-botao img {
  max-width: 40%;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#logo-botao button {
  font-family: "Atma", cursive;
  background-color: #e3ebe8;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  height: 40px;
  width: 85px;
  margin: 20px;
  margin-right: 30px;
}

#logo-botao a {
  text-decoration: none;
}


@media (max-height: 768px) {
  #logo-botao button {
    max-width: 40%;
    height: 30px;
    font-size: 13px;
  }
}

/* --- NAV --- */
nav {
  background-color: #e3ebe8;
  display: flex;
  flex: 1 1 100vw;
  justify-content: center;
}

.navegador_lista {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.navegador_lista a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: #1e1e1e;
  text-align: center;
}

.navegador_lista li {
  display: flex;
  margin-right: 20px;
  display: inline-block;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
}

.icones_navegaçao {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding-top: 3px;
  text-align: right;
  width: 20%;
}

.icones_acesso {
  width: 22px;
}

.icones_navegaçao li {
  padding: 0px 15px 0px;
  display: inline-block;
}

@media (max-width: 768px) {
  .icones_acesso {
    width: 17px;
  }

  .navegador_lista li {
    font-size: 12px;
  }
}

/* --- MAIN --- */
main {
  display: flex;
  justify-content: center;
  flex: 1 1 100vw;
  background-color: rgba(153, 197, 187, 1);
  align-self: center;
}

/*Carousel CSS*/
.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  overflow: hidden;
  padding: 30px 10px;
}

.carousel {
  width: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  display: flex;
  text-align: center;
  align-self: center;
}

.carousel-item img {
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;
}

h2,
p {
  text-align: start;
}

/*CARD*/
.div_cards {
  display: flex;
  justify-content: center;
  background-position: center;
  flex-wrap: wrap;
}

.card {
  margin: 20px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(146, 142, 142, 0.5);
}

.card img {
  padding: 50px 20px 20px 20px;
  width: 190px;
  
}

.card-body h5 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #1e1e1e;
  text-align: center;
}

.div_cards a {
  text-decoration: none;
}



/* Depoimentos */
.div_cards2 {
  display: flex;
  background-position: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 29px;
}

.card2 {
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  width: 16.3rem;
}

.card2 img {
  margin-bottom: 20px ;
  box-shadow: 0 2px 4px rgba(146, 142, 142, 0.5);
}

.depoimento-super {
  padding-top: 20px;
  padding-bottom: 20px;
}

.depoimento {
  background-color: #54b19d;
  text-decoration: white;
  width: 100%;
}

.depoimento h3 {
  color: white;
  font-family: Atma;
  margin: 6px;
  margin-left: 1%;
}

@media (max-width: 768px) {
  .depoimento h3 {
    text-align: center;
  }
}

.depoimento-super {
  margin: 0;
}

@media (max-height: 768px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div_cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card img {
    max-width: 60%;
    margin: 0px;
  }

  .card h5 {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .card2 img {
    max-width: 90%;
    border-radius: 5px;
    
    
  }

  .card2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

/* --- ASIDE --- */
aside {
  display: flex;
  justify-content: center;
  flex: 1 1 100vw;
  background: rgba(153, 197, 187, 1);
}

/* --- FOOTER --- */
footer {
  width: 100%;
  background-color: #54b19d;
  padding: 10px;
}

.rodape_principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adicionando o space-between para colocar os itens nas laterais */
}

.lado_esquerdo {
  display: flex;
  flex-direction: row;
}

.lado_direito {
  display: flex;
  flex-direction: column;
}

.rodape_direito {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.rodape_esquerdo {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
} /* Adicionei o espaçamento para os lados nas letras*/

@media (max-width: 600px) {
  .rodape_principal a {
    font-size: 12px;
  }
}
